<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <div th:replace="header.html::header"></div>

  <h3>글 등록 페이지</h3>
    <form id="boardform">
        글 제목 : <input type="text" name="btitle">
        글 내용 : <input type="text" name="bcontent">
        작성자 : <input type="text" name="bwriter">
        비밀번호 : <input type="text" name="bpassword">
        <button type="button" onclick="boardwrite()">글 등록</button>
    </form>

<!-- 사용자정의 js -->
<script src="/js/board/write.js"></script>

</body>
</html>